Source: python-mxf
XS-Python-Version: >= 2.5
Priority: optional
Section: python
Maintainer: Philippe Bridant <philippe.bridant@smartjog.com>
Uploaders: Gilles Dartiguelongue <gilles.dartiguelongue@smartjog.com>
Build-Depends: cdbs (>= 0.4.43), debhelper (>= 7), python-central (>= 0.6)
Standards-Version: 3.8.4

Package: python-mxf
XB-Python-Version: ${python:Versions}
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: SmartJog MXF python helper module
 Module to parse and manipulate MXF files.
